---
layout: home
search_exclude: true
image: images/logo.png
---
# Welcome to my blog!

## **<span style="color:red">Before going any further</span>**, please read these few tips !
{% include tip.html content='You can <strong>annotate</strong> and <strong>highlight</strong> content using <a href="https://web.hypothes.is/" target="_blank">Hypothes.is</a>, for youself and others to see !' %}

![]({{site.baseurl}}/images/Hypothesis.gif "Just as such")

**Below** are my posts about a variety of subjects.

{% capture tags_tip %}
If you are looking for a particular subject, click on <strong><a href="{{site.baseurl}}/categories">Tags</a></strong> in the top menu bar !
{% endcapture %}

{% include tip.html content=tags_tip %}

{% include important.html content="Please let me know of any mistake, by commenting or annotating !" %}

{% capture about_note %}
If you wish, you can learn more about <strong><a href="{{site.baseurl}}/about-me">me</a></strong> or <strong><a href="{{site.baseurl}}/about-blog">this blog</a></strong>  :grin:
{% endcapture %}

{% include note.html content=about_note %}

![]({{site.baseurl}}/images/enjoy.gif)

# Posts
